[btn-loader-parent-js].is-loader {
  pointer-events: none;
}

[btn-loader-parent-js].is-loader [btn-loader-content-js] {
  opacity: 0;
  visibility: hidden;
}

[btn-loader-parent-js].is-loader .btn-loading {
  opacity: 1;
  visibility: visible;
}

[btn-relative-js] {
  position: relative;
}

[btn-loader-content-js] {
  -webkit-transition: opacity 0.35s ease-in-out, visibility 0.35s ease-in-out;
  -o-transition: opacity 0.35s ease-in-out, visibility 0.35s ease-in-out;
  -moz-transition: opacity 0.35s ease-in-out, visibility 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out, visibility 0.35s ease-in-out;
}

.btn-loading {
  width: 31px;
  height: 31px;
  margin: auto;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: opacity 0.35s ease-in-out, visibility 0.35s ease-in-out;
  -o-transition: opacity 0.35s ease-in-out, visibility 0.35s ease-in-out;
  -moz-transition: opacity 0.35s ease-in-out, visibility 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out, visibility 0.35s ease-in-out;
}
.btn-loading .btn-loading--red:after {
  background-color: #ee5253;
}

.btn-loading:before {
  content: '';
  opacity: 0.1;
  position: absolute;
  top: 37px;
  left: 0;
  width: 31px;
  height: 3px;
  border-radius: 50%;
  background-color: rgb(0,0,0);
  -moz-animation: shadow 0.58s linear infinite;
  animation: shadow 0.58s linear infinite;
  -webkit-animation: shadow 0.58s linear infinite;
}

.btn-loading:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 31px;
  height: 31px;
  border-radius: 2px;
  background-color: rgb(255,255,255);
  -moz-animation: cssload-animate 0.58s linear infinite;
  animation: cssload-animate 0.58s linear infinite;
  -webkit-animation: cssload-animate 0.58s linear infinite;
}


@-moz-keyframes cssload-animate {
  17% {
    border-bottom-right-radius: 2px;
  }
  25% {
    -moz-transform: translateY(6px) rotate(22.5deg);
    transform: translateY(6px) rotate(22.5deg);
  }
  50% {
    -moz-transform: translateY(11px) scale(1, 0.9) rotate(45deg);
    transform: translateY(11px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 25px;
  }
  75% {
    -moz-transform: translateY(6px) rotate(67.5deg);
    transform: translateY(6px) rotate(67.5deg);
  }
  100% {
    -moz-transform: translateY(0) rotate(90deg);
    transform: translateY(0) rotate(90deg);
  }
}



@keyframes cssload-animate {
  17% {
    border-bottom-right-radius: 2px;
  }
  25% {
    -webkit-transform: translateY(6px) rotate(22.5deg);
    -moz-transform: translateY(6px) rotate(22.5deg);
    -o-transform: translateY(6px) rotate(22.5deg);
    transform: translateY(6px) rotate(22.5deg);
  }
  50% {
    -webkit-transform: translateY(11px) scale(1, 0.9) rotate(45deg);
    -moz-transform: translateY(11px) scale(1, 0.9) rotate(45deg);
    -o-transform: translateY(11px) scale(1, 0.9) rotate(45deg);
    transform: translateY(11px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 25px;
  }
  75% {
    -webkit-transform: translateY(6px) rotate(67.5deg);
    -moz-transform: translateY(6px) rotate(67.5deg);
    -o-transform: translateY(6px) rotate(67.5deg);
    transform: translateY(6px) rotate(67.5deg);
  }
  100% {
    -webkit-transform: translateY(0) rotate(90deg);
    -moz-transform: translateY(0) rotate(90deg);
    -o-transform: translateY(0) rotate(90deg);
    transform: translateY(0) rotate(90deg);
  }
}

@-webkit-keyframes cssload-animate {
  17% {
    border-bottom-right-radius: 2px;
  }
  25% {
    -webkit-transform: translateY(6px) rotate(22.5deg);
  }
  50% {
    -webkit-transform: translateY(11px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 25px;
  }
  75% {
    -webkit-transform: translateY(6px) rotate(67.5deg);
  }
  100% {
    -webkit-transform: translateY(0) rotate(90deg);
  }
}

@-moz-keyframes shadow {
  0%,
  100% {
    -moz-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50% {
    -moz-transform: scale(1.2, 1);
    transform: scale(1.2, 1);
  }
}

@keyframes shadow {
  0%,
  100% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.2, 1);
    -moz-transform: scale(1.2, 1);
    -o-transform: scale(1.2, 1);
    transform: scale(1.2, 1);
  }
}

@-webkit-keyframes shadow {
  0%,
  100% {
    -webkit-transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.2, 1);
  }
}
