.roboto__spinner {
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -moz-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -moz-box-pack: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: -webkit-radial-gradient(center, ellipse, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.25) 100%);
  background: -moz-radial-gradient(center, ellipse, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.25) 100%);
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.25) 100%);
  -webkit-transition: opacity 0.45s ease-in-out, visibility 0.45s ease-in-out;
  -o-transition: opacity 0.45s ease-in-out, visibility 0.45s ease-in-out;
  -moz-transition: opacity 0.45s ease-in-out, visibility 0.45s ease-in-out;
  transition: opacity 0.45s ease-in-out, visibility 0.45s ease-in-out;
}


.roboto__spinner.roboto__spinner--dark {
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.25) 100%);
  background: -moz-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.25) 100%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.25) 100%);
}


.roboto__spinner.is-show {
  opacity: 1;
  z-index: 9999;
  visibility: visible;
  -webkit-transition: opacity 0.45s ease-in-out, visibility 0.45s ease-in-out;
  -o-transition: opacity 0.45s ease-in-out, visibility 0.45s ease-in-out;
  -moz-transition: opacity 0.45s ease-in-out, visibility 0.45s ease-in-out;
  transition: opacity 0.45s ease-in-out, visibility 0.45s ease-in-out;
}


.roboto__spinner-inner {
  width: -moz-calc(890px / 3);
  width: calc(890px / 3);
  height: -moz-calc(267px / 3);
  height: calc(267px / 3);
}


.roboto__spinner svg {
  visibility: hidden;
  display: block;
  max-width: 100%;
  height: auto;
}
